.time {
    text-align: center;
}

.columns-container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
  
.column {
    height: 500px;
    padding: 10px;
    flex: 1;
    background-color: #d9f2db;
    box-sizing: border-box;
    padding-right: 50px;
    
}

.column-title {
    font-size: medium;
    color: black;
    
}

.task {
    padding: 5px 10px;
    margin-bottom: 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

