html, body {
    background-color: #232323;
    color: white;
    font-family: helvetica;
}

.time {
    text-align: center;
    font-size: xx-large;
    font-weight: 900;
}

.columns-container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
  
.task-column, .notes-column {
    min-height: 500px;
    padding: 10px;
    flex: 1;
    background-color: #2b2b2b;
    box-sizing: border-box;
    padding-right: 50px;
    border-radius: 25px;
}

.task-column {
    height: auto;
}

.notes-column {
    height: auto;
}

.column-title {
    font-size: large;
    color: white;
    padding-left: 10px;
}

.inputs {
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#task-input {
    flex-grow: 1;
    margin-right: 10px;
}

#add-task-button {
    border-radius: 5px;
    align-self: center;
    margin-left: auto;
}

.task {
    padding: 10px 10px;
    margin-bottom: 5px;
    margin-top: 15px;
    margin-left: 10px;
    width: 97%;
    border-radius: 3px;
    background-color: #535357;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-text {
    flex-grow: 1;
}

.task-buttons {
    display: flex;
    gap: 10px;
}

.edit-button {
    background-color: #6281a1;     
    color: white;      
    width: auto;
    border: none;      
    border-radius: 4px;
    height: 23px;
    padding: 5px 10px;
}

.delete-button {
    background-color: #cb3544;     
    color: white;      
    /* width: auto;             */
    border: none;
    border-radius: 4px;
    height: 23px;
    padding: 5px 10px;
}
